* {
background-color: #F9F6E4;
}

h1 {
  font-style: normal;
  font-size: 50px;
  font-family: "Condor", sans-serif;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 55px;
  margin-bottom: 55px;
  color: #6E7376;
}

h2 {
  background-color: transparent;
  font-style:normal;
  text-align:center;
  position:relative; 
  top: 40%;
  font-size: 60px;
  font-family: "Condor", sans-serif;
  color: whitesmoke;
}

body{
  font-family: "Helvetica", sans-serif;
  font-size: 30px;
  color: #BDB6AA;
}

ul{
margin-left: 90px;
}

p {
  color: #999348;
  margin-left: 100px;
  margin-bottom: 10px;
}


button {
  background-color: #2F5D8C;
  border: none;
  margin-right: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  padding: 0.2em 1em 0.2em 1em; 
}

.button-hover:hover{
  border: none;
  background-color: #B6C7DD;
  color: #2F5D8C;
  padding:  0.2em 1em 0.2em 1em;
}

.container{
  background-image:url(../img/wallpaperflare.com_wallpaper.jpg);
  background-size:cover;
  opacity: 90%;
  height:600px;
  margin: 0 auto;
  width:100%;
}

.media-query {
  font-family: 'Nunito', sans-serif;
  color: #34273B;
  font-size:50px;
  font-weight: 400px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  top: 200px;
  position: relative;
}

/*---Media Queries---*/
@media screen and (max-width: 1440px) { 
  .media-query { 
    color:indigo;
  }
}

@media screen and (max-width: 1000px) { 
  .media-query { 
    color: turquoise;
  }
}

@media screen and (max-width: 500px) { 
  .media-query { 
    color: maroon;
  }
}