* {
background-color: #F9F6E4;
}

h1 {
  font-style: normal;
  font-size: 50px;
  font-family: "Condor", sans-serif;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 55px;
  margin-bottom: 55px;
  color: #6E7376;
}

body{
  font-family: "Helvetica", sans-serif;
  font-size: 30px;
  color: #BDB6AA;
}

ul{
margin-left: 90px;
}

p {
  color: #999348;
  margin-left: 100px;
  margin-bottom: 10px
}

button {
  background-color: #2F5D8C;
  border: none;
  margin-right: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  padding: 0.2em 1em 0.2em 1em 
}

.button-hover:hover{
  border: none;
  background-color: #B6C7DD;
  color: #2F5D8C;
  padding:  0.2em 1em 0.2em 1em;
}
