html {
    background-color: white;
}

.bg-for-content {
    background-color: #FFFCF7;
    width: 100%;
}

.header-slide-show{
    font-family: "Roboto", san-serif;
    font-size: 20px;
}

.about-us {
    font-family: "Optima", serif;
    font-size: 18px;
    color: #A8977C;
    text-align: center;
    opacity: 100%;
}
    
h1{

}

p1{

}

h2{

}

p2{

}
