html {
    background-color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.navi {
    overflow: hidden;
    position: relative;
}

.navi #myLinks {
    display: none;
  }

.navi #links {
    width: 100%;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}

.navi-link {
  background: #EEECE9;
  box-shadow: inset 0 0 4px 2px rgba(165,151,127,0.24);
  font-family:'Unna-Bold', serif;
  color: #A8977C;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
  padding: 2px;
}

.navi a.icon {
  display: block;
  position: absolute;
  right: 28px;
  top: 53px;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.navi a.icon:hover,
.navi a.icon:focus {
    text-decoration: none;
}

.navi-link:hover {
  background-color: #A8977C;
  color: white;
  text-decoration: none;
}

.bg-for-content {
    background-color: #FFFCF7;
    width:100%;
}

/* Carousel CSS */

.carousel {
    width: 80%;
    height: 0;
    padding-bottom: 70%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    width: 100%;
    height: 0;
    padding-bottom: 70%; 
    padding-top: 40px; 
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.image-1 { 
  background-image: url(../img/Carousel1_Cafe.jpg);
  background-size: 100%; 
  background-repeat: no-repeat;
  background-position:0 0; 
}

.image-2 { 
  background-image: url(../img/Carousel2_Coffee.jpg);
  background-size: 100%; 
  background-repeat: no-repeat;
  background-position:0 0; 
}

.image-3 { 
background-image: url(../img/Carousel3_Cafe.jpg);
  background-size: 100%; 
  background-repeat: no-repeat;
  background-position:0 0; 
}

.image-4 { 
    background-image: url(../img/Carousel4_ColdDrinks.jpg);
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position:0 0; 
    }

.image-5 { 
    background-image: url(../img/Carousel5_Food.jpg);
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position:0 0; 
    }

.carousel-item {
    position: absolute;
    width: 100%;
    height: 500px;
    opacity: 0;
    margin: auto;
}

.carousel-control {
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 100px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    opacity:.5;
    z-index: 10;
}

.carousel-control.prev {
    left: 5%;
}

.carousel-control.next {
    right: 5%;
}

.carousel-control:hover {
    color: #A8977C;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom:10%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}


/* Carousel CSS End */


.about-us {
    font-family: "Optima", serif;
    font-size: 18px;
    color: #A8977C;
    text-align: center;
    opacity: 100%;
    width: 70%;
    margin: auto;
    padding-top: 30px; 
    padding-bottom: 30px;
}

#specials{
    font-family: "Unna-Bold", sans-serif;
    font-size: 30px;
    color: #A5977F;
    letter-spacing: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    margin: auto;
}

.special-content{
    width: 80%;
    height: auto;
    margin: auto;
}

.rows{
    width: 100%;
    height: auto;
}

.size-frame{
    width: 100%;
    height: auto;
    float: left
}
.size{
    width: 100%;
    height: auto;
}

.items{
    width: 100%；
    height: auto;
}
p1 {
    font-family: Roboto-Medium;
    font-size: 16px;
    color: #8D8D8D;
    letter-spacing: 20px;
    padding-bottom: 20px;  
    float: right; 
}

p2{
    font-family: Roboto-Medium;
    font-size: 16px;
    color: #676767;
    letter-spacing: 0;
    padding-bottom: 10px;
}

p3{
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #676767;
    letter-spacing: 0;
}

p {
    margin:5;
    
}